body{
    background: linen;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

li{
    display: flex;
    align-items: center;
}

img{
    margin: 20px 150px 0px 0px;
    border-radius: 30px;
    border-style: ridge;
    border-color: black;
}

h1, h2, p{
    text-align: center;
    color: black;
}

a{
    font-size: 20px;
    color: darkgreen;
    text-transform: uppercase;
}

.datos{
    display: flex;
    align-items: center;
    justify-content: center;
}